{% extends "bootstrap/base.html" %}

{% block title %}Pine Tree{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='pinetree.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='pinetree.ico') }}" type="image/x-icon">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css', _external=True) }}">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-light" style="background-color: #49728f;" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Pine Tree</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Contact Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                
                <li><a href="/">Log Out</a></li>
                
                <li><a href="/">Log In</a></li>
                
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}

    {% endblock %}
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
